@import "tailwindcss";

:root {
  --background: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --font-sans: var(--font-manrope);
}


body {
  background: var(--background);
  font-family: var(--font-manrope), sans-serif;
}