@import "tailwindcss";

:root {
  --background: #ffffff;
  --brand-color: #002652;
}

@theme inline {
  --color-background: var(--background);
  --color-brandColor: var(--brand-color);
  --font-sans: var(--font-manrope);
}

body {
  background: var(--background);
  font-family: var(--font-manrope), sans-serif;
}